<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServelet</servlet-name>
        <servlet-class>RegistrationServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservelet</servlet-name>
        <servlet-class>loginservelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newregn</servlet-name>
        <servlet-class>newregn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrationservlet</servlet-name>
        <servlet-class>registrationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>contact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServelet</servlet-name>
        <url-pattern>/RegistrationServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservelet</servlet-name>
        <url-pattern>/loginservelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newregn</servlet-name>
        <url-pattern>/newregn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrationservlet</servlet-name>
        <url-pattern>/registrationservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
